<script src="https://giscus.app/client.js"
        data-repo="JMS55/jms55.github.io"
        data-repo-id="R_kgDOKFxX0Q"
        data-category="Announcements"
        data-category-id="DIC_kwDOKFxX0c4Cvqkk"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="https://jms55.github.io/giscus_light.css"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
